.item {
    display: flex;
    align-items: center;
  
    margin: 0 auto 15px auto;
  }
  
  .item:last-child {
    margin-bottom: 0;
  }
  
  .status_true {
    display: block;
  
    width: 15px;
    height: 15px;
    margin-right: 20px;
  
    border-radius: 50%;
    background-color: green;
  }
  
  .status_false {
    display: block;
  
    width: 15px;
    height: 15px;
    margin-right: 20px;
  
    border-radius: 50%;
    background-color: red;
  }
  
  .avatar {
    padding: 15px;
    margin-right: 20px;
    border: 1px solid #ccc;
  }
  
  .name {
    width: 90px;
    font-size: 24px;
    font-weight: 500;
  }
  